@import "tailwindcss";

/* .principal {
  min-height: 100vh;
} */

/* Consider removing the .img1 max-width if Tailwind handles it. */
/* .img1 {
  max-width: 240px;
  position: relative;
  top: -10px;
} */

.img1 {
  will-change: filter;
  transition: filter 1000ms;
}

.img1:hover {
  filter: drop-shadow(1em 2em 1em #646cffaa);
}

.logoSpan {
  display: flex;
}
