@import "tailwindcss";

@layer utilities {
  .container-default {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-12;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 0.9;
}

.bg-verde {
  background-color: #2B8695;
}

.bg-verde-hover:hover {
  background-color: #5CB5C4;
}

.gradiente {
  background: radial-gradient(circle, #1B3A57, #0f2434);
}
